# mask -- median
## pink and yellow
## train and val

In [15]:
import numpy as np 
import pandas as pd 
import cv2
import os 
import SimpleITK as sitk
from tfmed.utils.med_ops import *

In [16]:
# train
# train mask path
train_path = '/public/lixin/DATA/segthor/input/segthor_gz/train'

In [17]:
tr_list = [ 5, 33, 26,  2, 13, 27, 20, 40,  6, 19, 36, 18, 35, 22, 11, 28,  7,
        37, 29,  8, 30, 24, 16, 10, 38, 21,  4, 32,  9, 23, 25, 31]
va_list = [1, 39, 34, 12, 17, 14, 15, 3]
test_list = [41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [20]:
med = []
mea = []
for i in tr_list:
    mask_path = os.path.join(train_path, 'GT_' + str(i).zfill(2) + '.nii.gz')
    file_path = os.path.join(train_path, 'Patient_' + str(i).zfill(2) + '.nii.gz')
    file = sitk.GetArrayFromImage(sitk.ReadImage(file_path))
    mask = sitk.GetArrayFromImage(sitk.ReadImage(mask_path))
#     print(file.shape)
    mask = np.where(np.equal(mask, 2), 1, 0) # 1 red 2 pink 
    mask = mask.astype(np.bool)
    gps = file[mask]
#     print(len(gps))
#     print(mask.shape)
    num = np.median(gps)
    num2 = np.mean(gps)
    mea.append(num2)
    print(num)
    med.append(num)

39.0
25.0
-4.0
133.0
29.0
26.0
33.0
40.0
125.0
40.0
28.0
39.0
28.0
159.0
22.0
136.0
25.0
27.0
44.0
40.0
38.0
34.0
112.0
26.0
149.0
33.0
38.0
109.0
112.0
32.0
123.0
174.0

In [21]:
dic = {'folder': tr_list, 
      'median': med,
      'mean':mea}
df = pd.DataFrame(dic)
# df.to_csv('pink-val_media.csv', index=False)

In [22]:
df

    folder  median        mean
0        5    39.0   33.528759
1       33    25.0   12.333871
2       26    -4.0  -21.525172
3        2   133.0  110.373596
4       13    29.0   12.284558
5       27    26.0   11.507301
6       20    33.0   21.359254
7       40    40.0   24.701978
8        6   125.0  107.001876
9       19    40.0   29.638523
10      36    28.0   18.260609
11      18    39.0   27.257458
12      35    28.0   17.321938
13      22   159.0  148.539137
14      11    22.0   -0.474780
15      28   136.0  106.808913
16       7    25.0   12.165962
17      37    27.0    9.078785
18      29    44.0   36.048247
19       8    40.0   29.983109
20      30    38.0   32.802910
21      24    34.0   19.856249
22      16   112.0   96.860055
23      10    26.0   13.106281
24      38   149.0  118.124373
25      21    33.0   15.551060
26       4    38.0   23.663736
27      32   109.0   84.301109
28       9   112.0   94.437586
29      23    32.0   23.145458
30      25   123.0  110.375132
31      31   174.0  148.875079

In [23]:
df

    folder  median        mean
0        5    39.0   33.528759
1       33    25.0   12.333871
2       26    -4.0  -21.525172
3        2   133.0  110.373596
4       13    29.0   12.284558
5       27    26.0   11.507301
6       20    33.0   21.359254
7       40    40.0   24.701978
8        6   125.0  107.001876
9       19    40.0   29.638523
10      36    28.0   18.260609
11      18    39.0   27.257458
12      35    28.0   17.321938
13      22   159.0  148.539137
14      11    22.0   -0.474780
15      28   136.0  106.808913
16       7    25.0   12.165962
17      37    27.0    9.078785
18      29    44.0   36.048247
19       8    40.0   29.983109
20      30    38.0   32.802910
21      24    34.0   19.856249
22      16   112.0   96.860055
23      10    26.0   13.106281
24      38   149.0  118.124373
25      21    33.0   15.551060
26       4    38.0   23.663736
27      32   109.0   84.301109
28       9   112.0   94.437586
29      23    32.0   23.145458
30      25   123.0  110.375132
31      31   174.0  148.875079

In [11]:
med = []
for i in test_list:
    mask_path = os.path.join('/public/lixin/SegTHOR/segthor/post-process/result', 
                             'Patient_' + str(i).zfill(2) + '.nii')
    file_path = os.path.join('/public/lixin/DATA/segthor/input/segthor_gz/test', 
                             'Patient_' + str(i).zfill(2) + '.nii.gz')
    file = sitk.GetArrayFromImage(sitk.ReadImage(file_path))
    mask = sitk.GetArrayFromImage(sitk.ReadImage(mask_path))
#     print(file.shape)
    mask = np.where(np.equal(mask, 4), 1, 0)
    mask = mask.astype(np.bool)
    gps = file[mask]
#     print(len(gps))
#     print(mask.shape)
    num = np.median(gps)
    print(num)
    med.append(num)

184.0
41.0
45.0
33.0
229.0
44.0
229.0
38.0
34.0
222.0
41.0
287.0
44.0
151.0
44.0
40.0
159.0
159.0
39.0
39.0

In [12]:
dic = {'folder': test_list, 
      'median': med}
df = pd.DataFrame(dic)
df.to_csv('blue-test_media.csv', index=False)

In [13]:
df

    folder  median
0       41   184.0
1       42    41.0
2       43    45.0
3       44    33.0
4       45   229.0
5       46    44.0
6       47   229.0
7       48    38.0
8       49    34.0
9       50   222.0
10      51    41.0
11      52   287.0
12      53    44.0
13      54   151.0
14      55    44.0
15      56    40.0
16      57   159.0
17      58   159.0
18      59    39.0
19      60    39.0

In [14]:
df.loc[df['folder']== 41]

   folder  median
0      41   184.0